@use "variables" as*;

/*footer*/

footer {
  background-color: $negro;
  padding: 20px;
  text-align: center;
  margin-top: auto;

  .pala {
    color: $grisClaro;
    font-family: $tipografia-texto;
    font-size: 16px;
  }

  .face, .insta {
    width: 50px;
  }

  .wasa {
    width: 150px;
  }
}