@use "variables" as*;

/*Textos*/

h1, h2, h3 {
  font-family: $tipografia-titulo;
  text-align: center;
  color: $negro;
}

h1 {
  font-size: 30px;
}

h2 {
  color: $rojo;
  font-size: 20px;
  padding: 10px 20px 10px 40px;
  margin: 30px;
}

h3 {
  color: $azul;
}

p, .parrafo {
  font-family: $tipografia-texto;
  font-size: 18px;
  color: $azul;
  padding: 10px 20px 10px 40px;
}

.unico {
  margin: 5px;
}
