//paleta de colores
$rojo: #E12500;
$azul: #64718F;
$blancoRosado: #FFF5F5;
$grisClaro: #F0F0F0;
$negro: #0D0E0D;
//tipografias
$tipografia-titulo: "Lora", serif;
$tipografia-texto: "Rubik", sans-serif;